@media screen and (max-width: 767px) {
    .header{
        width: 250px;
    }
    
    
    .right{
        width: 250px;
    
    }
    
    
    .footer{
        width: 250px;
    }
    
}

@media screen and (max-width: 479px) {
}